<!-- TODO: "in" vs "for"? -->
<!-- <p>There are no assignments in this course yet.</p> -->
<p>This course does not have any assignments yet.</p>
<!-- <p>No assignments here yet.</p> -->
<!-- <p>Nothing here yet.</p> -->
<button
  type="button"
  name="add-assignment"
  id="add-assignment"
  (click)="onAddAssignment($event)"
>Add one now</button>
<!-- TODO: ^"Add an assignment" vs "Add one now"? -->

<!-- TODO: "hit" vs "press"? -->
<!-- TODO: link to keyboard shortcuts page/modal/window -->
<p class="small">(or hit <span class="shortcut"><span class="cmd-symbol">⌘</span><span style="font-size: 1.25em; font-weight: 600;">+</span>N</span>)</p>

<!-- New Assignment Modal -->
<!-- TODO: animate this in/out -->
<div *ngIf="showNewAssignmentModal" class="modal" (click)="onModalOverlayClick($event)">
  <div class="container" (click)="$event.stopPropagation()">
    <app-new-assignment></app-new-assignment>
  </div>
</div>
