<div class="content">

  <!-- ! TODO: break this up into schedule, today, upcoming, course, multi-course -->
  <div class="main">
    <div class="header">
      <div class="badge">
        <!-- TODO: might wanna generalize this to accept text or an icon, choose border, etc? -->
        <!-- <app-course-badge *ngIf="courseIndex() >= 0" [department]="course().department" [code]="course().code" [accent]="course().accent"></app-course-badge> -->
        <!-- <app-icon-badge *ngIf="courseIndex() === -1" [icon]="icon()" [accent]="accent()"></app-icon-badge> -->
        <app-icon-badge [icon]="icon()" [accent]="accent()"></app-icon-badge>
      </div>
      <!-- TODO: might wanna add a readOnly property to the content item -->
      <!-- TODO: stop the title from changing on the sidebar when typing, only change on enter or blur -->
      <textarea
        #titleArea
        class="title"
        placeholder="New Course"
        value="{{title()}}"
        [readOnly]="courseIndex() === -1"
        (blur)="updateTitle($event, titleArea.value)"
        (keydown.enter)="$event.preventDefault()"
        (keyup.enter)="updateTitle($event, titleArea.value)"
      ></textarea>
      <!-- ^ oninput="this.style.height = '';this.style.height = this.scrollHeight - 4 + 'px'" -->
    </div>

    <!-- TODO: maybe course-CONTENT? -->
    <div class="body">
      <app-course-view *ngIf="store.selectedType === ContentType.Course && store.selectedCourses.length === 1"></app-course-view>
    </div>
  </div>


</div>
