<div class="row" [class.selected]="selected">
  <div class="check-container">
    <input
      class="check"
      type="checkbox"
      name="check"
      id="check-{{assignment.id}}"
      (change)="onDelete($event)"
    >
    <!-- TODO: ^don't delete when checked, this is just here as a workaround while I don't implement selection and the delete shortcut -->
  </div>
  <!-- TODO: let the user edit the title with a double click? (and then change the cursor to the(a?) caret) -->
  <!--       or just let them edit it in the side panel -->
  <div *ngIf="assignment.title !== ''" class="title">{{assignment.title}}</div>
  <input
    #emptyTitle
    *ngIf="assignment.title === ''"
    class="title empty"
    placeholder="{{placeholder()}}"
    type="text"
    id="empty-title-{{assignment.id}}"
    name="empty-title-{{assignment.id}}"
    (blur)="onUpdateTitle($event, emptyTitle.value)"
    (keydown.enter)="$event.preventDefault()"
    (keyup.enter)="onUpdateTitle($event, emptyTitle.value)"
  >
  <div *ngIf="assignment.dueDate" class="due">{{assignment.dueDate | date:'MM/dd'}}</div>

  <!-- ! TODO: bring up a calendar or some sort of date picker on click -->
  <!-- TODO: maybe factor this out (along with 'new course', button strip buttons, etc) -->
  <button *ngIf="!assignment.dueDate" class="due">
    <fa-icon
    [icon]="['far', 'calendar-alt']"
    size="lg"
    [fixedWidth]="true"
    ></fa-icon>
  </button>
</div>
