<div class="grid">
  <!-- do I need to check displayOrder()? Course is supposed to always keep it synced with assignments -->
  <ng-container *ngIf="!isEmpty()">
    <div class="column" *ngFor="let i of columnIndices">
        <ng-container *ngIf="i < Object.keys(assignments()).length - 1">
            <app-tile
              [name]="order[i]"
              [data]="assignments()[order[i]]"
            ></app-tile>
            <app-tile
              [name]="order[i+1]"
              [data]="assignments()[order[i+1]]"
            ></app-tile>
        </ng-container>
        <ng-container *ngIf="i == Object.keys(assignments()).length - 1">
            <app-tile
              [name]="order[i]"
              [data]="assignments()[order[i]]"
            ></app-tile>
        </ng-container>
      </div>
  </ng-container>
  <ng-container *ngIf="isEmpty()">
    <!-- No assignments -->
    <app-empty-grid></app-empty-grid>
  </ng-container>
</div>
