<div *ngIf="items">
  <ul class="sidebar" *ngFor="let section of items; let s = index">
    <p style="text-align: right; margin: 5px; font-size: smaller; color: #777" *ngIf="s === 2">Quick selection buttons</p>
    <li *ngFor="let row of section; let r = index" class="items-row">
      <button
        [class.selected]="isSelected(row)"
        [class.selectedTop]="isSelectedTop(row, s, r)"
        [class.selectedBottom]="isSelectedBottom(row, s, r)"
        (click)="onSelect($event, row, s, r)"
      >{{row.title}}</button>
    </li>
  </ul>

</div>
