<div *ngIf="items">
  <ul class="sidebar" *ngFor="let section of items; let s = index">
    <li *ngFor="let row of section; let r = index" class="items-row">
      <button
        class="strong"
        [class.selected]="isItemSelected(row)"
        [class.selectedTop]="isItemSelected(row)"
        [class.selectedBottom]="isItemSelected(row)"
        (click)="onItemSelect($event, row.contentType, s, r)"
      >{{row.title}}</button>
    </li>
  </ul>

  <ul class="sidebar">
    <!-- Implement this p tag lol -->
    <p *ngIf="store.courses && store.courses.length > 0" style="text-align: right; margin: 5px; font-size: smaller; color: #777">Quick selection buttons</p>
    <li *ngFor="let course of store.courses; let c = index" class="items-row">
      <button
        [class.selected]="isCourseSelected(c)"
        [class.selectedTop]="isCourseSelectedTop(c)"
        [class.selectedBottom]="isCourseSelectedBottom(c)"
        (click)="onCourseSelect($event, c)"
        (contextmenu)="openContextMenu($event, course)"
      >{{course.title}}</button>
    </li>

    <li *ngIf="staging" class="items-row staging-row">
      <input #staging
        type="text"
        id="staging"
        name="staging"
        placeholder="New Course"
        (blur)="onStagingBlur($event, staging.value)"
        (keyup.enter)="onStagingSave($event, staging.value)"
        (keyup.escape)="onStagingCancel($event)"
      >
    </li>
  </ul>

  <!-- <p *ngFor="let course of store.courses">{{course.title}}</p> -->

  <div class="footer">
    <button class="new-course" (click)="onNewCourse($event)">
      <!-- <fa-icon
        [icon]="['fas', 'plus']"
        size="xs"
        [fixedWidth]="true"
      ></fa-icon> -->
      <span class="plus">+</span> New Course
    </button>
  </div>
</div>
