:host {
  position: relative;

  flex: initial;
  height: 100%;
  width: 250px;

  border-right: 1px solid lightgrey;

  background-color: whitesmoke;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar {
  list-style-type: none;
  padding: 0 20px;
  margin: 20px 0;
}

.sidebar li {

  cursor: default;

  user-select: none;

  height: 22px;

  // TODO: figure out why there's a 1px space between buttons (went away when I set this height as 25px, was 18px)
  // margin: 0 0 .4 0;
  // margin: 0;
}

.sidebar button {
  // background-color: tomato;
  border: none;
  height: 100%;
  width: 100%;

  text-align: left;
  outline: none;

  // border-radius: 3px;

  background-color: transparent;

  font-weight: 400;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // TODO: not working
}
.sidebar button.strong {
  font-weight: 500;
}

.sidebar button.selected {
  background-color: lightgrey;
}

.sidebar button.contextMenuOpen {
  border: 0 solid #0076ff;
  border-left-width: 3px;
  border-right-width: 3px;
}

// TODO: maybe make these the same
// ! TODO: figure out how to stop button content from moving when border is drawn
$selectedRadius: 3px;
$contextOpenRadius: 5px;

.sidebar button.contextMenuOpen:not(.selected) {
  border-radius: $contextOpenRadius;
  border-width: 3px;
}

.sidebar button.selectedTop {
  border-top-left-radius: $selectedRadius;
  border-top-right-radius: $selectedRadius;
}
.sidebar button.selectedTop.contextMenuOpen {
  border-top-left-radius: $contextOpenRadius;
  border-top-right-radius: $contextOpenRadius;
  border-top-width: 3px;
}

.sidebar button.selectedBottom {
  border-bottom-left-radius: $selectedRadius;
  border-bottom-right-radius: $selectedRadius;
}
.sidebar button.selectedBottom.contextMenuOpen {
  border-bottom-left-radius: $contextOpenRadius;
  border-bottom-right-radius: $contextOpenRadius;
  border-bottom-width: 3px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 4px 8px;
  border-top: 1px solid lightgrey;

  // background-color: red;
}

.footer .new-course {
  font-size: 1.05em;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;

  background-color: transparent;
  height: 32px;
  line-height: 3px;
  // vertical-align: middle;

  // padding: 0 10px 0 5px; // use with fa-icon
  padding: 0 10px 0 8px;
}
.footer .new-course:hover {
  border: 1px solid lightgrey;
}
.footer .new-course:active {
  background-color: lightgrey;
}

.plus {
  font-size: 1.6em;
  font-weight: 400;
  height: 6px;
  margin-right: 5px;
}
