<div class="new-assignment-window">
  <!-- Unneeded while modal -->
  <!-- <div class="title-bar"></div> -->

  <div class="body">
    <div class="left">
      <div class="left-header">
        <!-- TODO: might want to modify this component so that we can user keydown.enter to submit the form -->
        <app-header-textarea
          #titleArea
          [size]="'normal'"
          [placeholder]="'New Assignment'"
          [value]="title"
          [readOnly]="false"
          (update)="updateTitle($event)"
        ></app-header-textarea>
      </div>

      <!-- Notes -->
      <textarea
        #notesArea
        id="new-assignment-notes"
        name="new-assignment-notes"
        class="notes"
        placeholder="Notes"
        value=""
      ></textarea>

      <p>Type</p>
      <input
        id="new-assignment-type"
        name="new-assignment-type"
        type="text"
        [(ngModel)]="type"
      >

      <!-- TODO: make this a picker -->
      <!-- TODO: add the course icon in this picker too -->
      <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">Course:<br>{{store.getFirstSelected().title}}</p>
    </div>
    <div class="right">
      <p>Calendar</p>
      <input
        id="new-assignment-duedate"
        name="new-assignment-duedate"
        type="date"
        [(ngModel)]="dueDate"
      >

      <!-- TODO: optional due time. Might have to change the model slightly -->
    </div>
  </div>

  <div class="footer">
    <button
    class="btn"
    type="button"
    name="cancel-new-assignment-button"
    id="cancel-new-assignment-button"
    (click)="onCancel($event)"
    >Cancel</button>

    <button
    class="btn btn-primary"
    type="button"
    name="add-new-assignment-button"
    id="add-new-assignment-button"
    (click)="onAdd($event)"
    >Add</button>
  </div>
</div>
